
.postitus{
    width: 385px;
    margin: 0px 25px 40px 25px;
    display: flex;
    flex-direction: column;
}

.postituse-pilt{
    width: 385px;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}
 .postituse-pealkiri{
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 900;
    margin-top: 15px;
    cursor: pointer;
    

 }

 .postituse-sisu{
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:4 ;
    -webkit-box-orient: vertical;

 }
 .postituse-aeg{
    font-family: "Lora", serif;
    font-size: 13px;
    font-style: italic;
    color: #999;
    margin-top: 15px;

 }
 .nupp{
    color: white;
        background-color: teal;
        padding: 10px;
        border: none;
        border-radius:10px;
        cursor: pointer;
        font-size:16px;
        justify-content: space-between;
        margin: 15px;

 }
 .nupp:hover{
    opacity:0.7;
    cursor: pointer;
}






