.form-container {
    margin-left: 150px;
    align-items: center;
  }
  .form {
    position: relative;
  }
  .form-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
    
  }

  .form-sisu {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
  }
  .form-group{
    margin-left: 100;
    align-items: center;
  }
  .form-input:focus{
    outline: none;
}
  .form-button {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size:16px;
  }
  
  .form-button:hover {
opacity: 0.9;  }
  .label {
    font-family: 'Josefin Sans', sans-serif;

  }

  @media only screen and (max-width: 700px) {
    .form-container {
      margin-left: 80px;
      
     
    }
    .form-input {
      font-size: 20px;
      padding: 15px;
      
    }
    .form-sisu {
      font-size: 20px;
      padding: 15px;
     
    }
    .form-button {
      top: 10px;
      right: 50px;
      padding: 5px;
      font-size:15px;
    }
    
    
    

  }
  @media only screen and (max-width: 550px) {
    .form-container {
      margin-left: 80px;
      
     
    }
    .form-input {
      font-size: 15px;
      padding: 10px;
      
    }
    .form-sisu {
      font-size: 15px;
      padding: 10px;
     
    }
    .form-button {
      top: 10px;
      right: 50px;
      padding: 5px;
      font-size:10px;
    }
    
  }