
.yks-postitus{
    display: flex;
    /* flex: 9; */
    /* align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; */
}


.yks-postitus-kokku {
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;


}

.yhe-postituse-pealkiri {
    text-align: center;
    margin: 20px;
    font-family: "Lora", serif;
    font-size: 48px;

}
.yhe-postituse-sisu{
    color:#666;
    font-size: 18px;
    line-height: 25px;
    

}

.yhe-postituse-sisu::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;

}


.yhe-postituse-muutmine {
    float: right;
    font-size: 20px;
    padding: 20px;

}

.yhe-postituse-pilt {
width: 100%;
height: 300px;
border-radius: 5px;
object-fit: cover;
}

.yhe-postituseIkoon {
    margin-left: 10px;
    cursor: pointer;
    
}

.yhe-postituseIkoon:first-child{
    color: teal;
}

.yhe-postituseIkoon:last-child{
    color: tomato;
}
.yhe-postituse-info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}
.yhe-postituse-kategooria{
    text-align: center;
    margin: 20px;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    color: #b39656;

}

@media only screen and (max-width: 700px) {
    .yhe-postituse-pealkiri {
        margin: 15px;
        font-size: 30px;
    
    }
    .yhe-postituse-sisu{
        font-size: 15px;
        line-height: 25px;
    
    }
    .yhe-postituse-info {
        margin-bottom: 15px;
        font-size: 12px;
       
    }
    .yhe-postituse-kategooria{
        margin: 15px;
        font-size: 12px;
       
    
    }

}

@media only screen and (max-width: 550px) {
    .yhe-postituse-pealkiri {
        margin: 10px;
        font-size: 20px;
    
    }
    .yhe-postituse-sisu{
        font-size: 12px;
        line-height: 20px;
    
    }
    .yhe-postituse-info {
        margin-bottom: 10px;
        font-size: 8px;
       
    }
    .yhe-postituse-kategooria{
        margin: 10px;
        font-size: 8px;
       
    
    }
    
    .yhe-postituse-pilt {
        width: 100%;
        height: 100px;
        
        }
 .yks-postitus-kokku {
            padding-right: 50px;
            padding-left: 50px;
            padding-bottom: 50px;
        
        
        }
        
}


  