.postituse-pealkiri {
    font-size: 30px;
text-align: center;
}
.postituse-sisu{
    font-size: 20px;
    text-align: center;
}
.postituse-aeg{
    font-size: 10px;
    text-align: center;
    padding: 20px;
}

.postituse-pilt {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin-left: 150px; 
    width: 80vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}