.pilt{
  width:100px;
  }
  .pilt:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .nupp{
    border: 2px double orangered;
  }
  .nupp:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  .kuldne {

    color: goldenrod;
  }
  .url-aktiivne {
    height: 30px;
    border-radius: 5px;

  }
  .light {
    background-color: aliceblue;
    height: 100%;
    min-height: 100vh;

  }
  
  .dark {
    background-color: black;
    color: white;
    height: 100%;
    min-height: 100vh;

  }
  .varviline {
    background-color: rgb(206, 206, 151);
    color: white;
    height: 100%;
    min-height: 100vh;
    color:black

  }